

<h1> Numer rezerwacji : <%=@reservation.id %></h1>
<h2>Data: <%= @reservation.date%> </h2>
<h2>Urzytkownik:<%=@reservation.user.name %></h2>

 
 
  <%= simple_form_for [:admin, @reservation] do |f| %>
    
    <%= f.association :table, as: :select, prompt: nil %>
    <%= f.input :status %>
    <%= f.input :description %>
    <%= button_tag class: "btn btn-success btn-lg" do %>
      Zapisz i przejdź dalej
      <span class="fa fa-step-forward"></span>
    <% end %>
  <% end %>