<h1>Rezerwacje</h1>



<table class="table table-striped">
  <thead>
    <tr>
      <th>Numer rezerwacji</th>
      <th> Klient</th>
      <th>Data</th>
      <th>Ilosc gosci</th>
      <th>Stolik</th>
      <th>Status</th>
      <th>Actions</th>


      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |r| %>
      <tr>
        <td><%= r.id %></td>
        <td><%= r.user.name%></td>
        <td><%= r.date %></td>
        <td><%= r.seats %></td>
        <td><%= r.table.name %></td>
        <td><%= r.status %></td>
        <td><%= link_to "Edycja", edit_admin_reservation_path(r), class: "btn btn-default btn-xs" %></td>
    
        <td>
        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
