<h1>Rezerwacje</h1>

<ul class="nav nav-tabs">
  <li <% if params[:action] == "index" %> class="active" <%end%>> <%= link_to "Wszystkie", admin_reservations_path%> </li>
  <li<% if params[:action] == "recived" %> class="active" <%end%>> <%= link_to "Nowe", recived_admin_reservations_path%></li>
  <li<% if params[:action] == "accepted" %> class="active" <%end%>> <%= link_to "Przyjete", accepted_admin_reservations_path%></li>
   <li<% if params[:action] == "finished" %> class="active" <%end%>> <%= link_to "Zakonczone", finished_admin_reservations_path%></li>
  
  
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Numer rezerwacji</th>
      <th> Klient</th>
      <th>Data</th>
      <th>Ilosc gosci</th>
      <th>Stolik</th>
      <th>Status</th>
      <th>Actions</th>


      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |r| %>
      <tr>
        <td><%= r.id %></td>
        <td><%= r.user.name%></td>
        <td><%= r.date %></td>
        <td><%= r.seats %></td>
        <td><%= r.table.name %></td>
        <td><%= r.status %></td>
        <td><%= link_to "Edycja", edit_admin_reservation_path(r), class: "btn btn-default btn-xs" %></td>
    
        <td>
        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
