<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Imie i Nazwisko
      <th>E-mail</th>
      <th>Telefon</th>
      <th>Ostatnie logowanie</th>
      <th>Ilosc logowan</th>
      <th>Ip logowania</th>
      <th>Ilosc rezerwacji</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.tel %></td>
        <td><%= user.last_login_at %></td>
        <td><%= user.login_count%></td>
        <td><%= user.last_login_ip%></td>
        <td>
        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>