<!DOCTYPE html>
<html>
  <head>
    <title>Chlodna15a</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Admin Chlodna 15', root_path, class: 'navbar-brand' %>
    </div>
    
    <div id="navbar">
      <ul class="nav navbar-nav">

          <li <% if params[:controller] == "admin/users" %>class="active"<% end %>><%= link_to "Urzytkownicy", admin_users_path %></li>
          <li <% if params[:controller] == "admin/tables" %>class="active"<% end %>><%= link_to "Stoliki", admin_tables_path %></li>
          <li <% if params[:controller] == "admin/reservations" %>class="active"<% end %>><%= link_to "Rezerwacje", admin_reservations_path %></li>
         

      </ul>
      
      <ul class="nav navbar-nav pull-right">
        <% if current_user %>
          <li><span><%= current_user.email %></span></li>
          <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign In', sign_in_path %></li>
        <% end %>
    
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>
</div>


  </body>
</html>
